/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and general styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 50px 20px;
}

/* Styling for logo */
#logo-container {
  margin-bottom: 20px;
}

#logo {
  width: 100px; /* Adjust the size of the logo */
  height: auto;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Download section */
#download-section {
  padding: 40px 20px;
}

.button-container {
  margin-top: 20px;
}

.download-button {
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #218838;
}

/* New section for Default Login Information */
#login-info {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#login-info h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

#login-info p {
  font-size: 1.2em;
  margin: 10px 0;
}

#login-info strong {
  font-weight: bold;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
